/*font will nicht, stuckmann, doch will es, es muss nach ganz oben*/
@import url('https://fonts.googleapis.com/css2?family=Gruppo&display=swap');


body, h1, h2, h3, p, ul {
    margin: 0;
    padding: 0;
}


body {
    font-family: 'Gruppo', sans-serif; 
    line-height: 1.6;
    background-color: #ffffff;
    color: #000000;
}



header {
    background-color: #ffffff;
    color: #000000;
    padding: 25px;
    text-align: center;
}

nav ul {
    list-style: none;
}

nav ul li {
    display: inline;
    margin-right: 20px;
    
}

nav ul li a {
    color: #000000;
    text-decoration: none;
    
}

main {
    padding: 20px;
}

section {
    margin-bottom: 20px;
}

footer {
    background-color: #000000;
    color: #ffffff;
    padding: 20px;
    text-align: center;
    bottom: 0;
    position: fixed;
    width: 100%;
}

.person{
    width: 50px; /*breite*/
    height: auto;
    float: right; 
}
.person:hover {
    opacity: 0.5; /* Beim Hover-Effekt die Opazit채t 채ndern */
}

.cart{
    width: 50px; /*breite*/
    height: auto;
    float: right; 
  
}
.cart:hover {
    opacity: 0.5; /* Beim Hover-Effekt die Opazit채t 채ndern */
}


.images{
    display: flex;
    float: right;
}


#icons-container {
    float: right; 
  
}

.icon {
    margin-left: 15x; /* Abstand  Icons */
    margin-right: 15px;
    
    width: 40px;
    height: auto;
}
